@import "tailwindcss";

:root {
  /* base BAYGON (escuro azul-esverdeado) */
  --background: #060d0b;
  --foreground: #e9f3ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Chakra Petch', system-ui, sans-serif;
}
